<h2>My Clients</h2>

<div class="last-update">
	Last Update: 
	<% if @clients.fetching? %>
		In Progress
	<% else %>
		<% last_update = current_user.clients_update_started_at.nil? ? "Never" : current_user.clients_update_finished_at %>
		<%= last_update %> <%= button_to 'Update Now', '/clients', method: :post %>
	<% end %>
</div>

<%= render 'clients_list', clients: @clients %>