<h2><%= @batch.name %></h2>

<h3>Clients</h3>
<%= render 'rcx_clients/rcx_clients_list', rcx_clients: @batch.rcx_clients, batch: @batch %>

<h3>Commands</h3>
<%= render 'batch_commands/steps_list', batch_commands: @batch.batch_commands %>