<h2><%= @batch.name %></h2>

<h3>Clients</h3>
<%= render 'rcx_clients/rcx_clients_list', rcx_clients: @batch.rcx_clients, batch: @batch %>

<h3>Steps</h3>
<%= render 'steps/steps_list', steps: @batch.steps %>