<p id="no_commands_msg"<%= ' style="display: none;"'.html_safe if @commands.any? %>>There are no commands.</p>
<table class="table" id="commands_table" <%= ' style="display: none;"'.html_safe unless @commands.any? %>>
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Description</th>				
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= render collection: command_list, partial: 'command_row', as: :command %>			
			</tbody>
</table>
